<p>HERO DETAILS!</p>

<div *ngIf="hero">
    <div><span>Hero Details:</span>{{hero.name | uppercase}}</div>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label [for]="hero.name">Hero name: </label>
        <input [(ngModel)]="hero.id" [placeholder]="hero.id">
        <input [(ngModel)]="hero.name" [placeholder]="hero.name">

    </div>
    <button (click)="goBack()">Go back</button>
    <button (click)="updateHero(hero)">Save</button>
    <button (click)="addHero(hero)">Add</button>
</div>
    