<div *ngIf="heroes$ | async as heroes">
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <a routerLink='/detail/{{hero.id}}'>
                <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
            <button (click)="removeHero(hero)" class="button">Remove</button>
        </li>
    </ul>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- <app-hero-detail [hero]='selected'></app-hero-detail> -->